*{
    margin: 0;
}


.navbar{
    
    width: 100%;
    background-color: black;

}
.navbar-container{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    background-color: black;
    height: 75px;
    color: white;
    
}

.search-div form{
    margin-right:50px;
}

.logo-container{
    flex: 1;
}


.menu-container{
    flex: 6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-list-item{
    margin-right: 30px;
}
.menu-list-item.active{
    font-weight: bold;
}
.searchbar{
    width:100%;
    max-width: 600px;
    background: rgba(3, 3, 3, 0.2);
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding:2px 5px;
    backdrop-filter: blur(4px) saturate(180%);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 60px;
    margin-left: 20px;
}
.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 8px;
    font-size: 15px;
    color: white;
}       
::placeholder{
    color:#cac7ff;
}
.searchbar button img{
    width: 25px;
}
.searchbar button{
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: white;
    cursor: pointer;
}
.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: end;
}
.profile-text-container{
    margin: 0 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.toggle{
    width: 47px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-left: 20px;
}
.toggle-icon{
    color: goldenrod;
}
.toggle-ball
{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}
.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    
}
.left-menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    
}

#searched_movie_title{
    color:white;
    border:2px solid white;
    border-radius: 10px;
    margin-right:20px;
}

.left-menu-icon-bottom1{
    color: white;
    font-size: 20px;
    margin-top: 190px;
}
.left-menu-icon-bottom{
    color: white;
    font-size: 20px;
    margin-top: 40px;
    bottom: 0px;   
}
.outer-container{
    background-color: #151515;
    min-height: calc(100vh - 100%);
    width:100%;
    color: #151515;
}
.content-container{
    /* margin-left: 50px; */
    background: #151515;
}
.featured-content{
    height: 50vh;
    padding: 50px;
}
.featured-title{
    width: 300px;
}
.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}
.featured-button{
    background-color: #4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
.movie-list-container{
    padding: 0 10px;
}
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}
.movie-list{
    display: flex;
    height: 300px;
    align-items: center;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-title{
    margin-top: 20px;
    color:white;

}
.movie-list-item{
    margin-right: 30px;  
    margin: 0 30px;
    position: relative;
    margin-top: 1px;
    margin-bottom: 20px;
}
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}
.movie-list-item-img{
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.movie-list-item-title{
    background-color: #000000;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-search{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.movie-list-item-desc{
    background-color: #000000;
    padding: 0 10px;
    font-size: 12px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
}
.movie-list-item-button{
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}
.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}
.container.active{
    background-color: white;
}
.movie-list-title.active{
    color: black;
}
.navbar.active{
    background-color: white;
}
.navbar-container.active{
    background-color: white;
    color: black;
}
.sidebar.active{
    background-color: white;
}
.left-menu-icon.active,
.left-menu-icon-bottom.active{
    color: black;
}
.searchbar.active{
/* background-color: #151515;*/
   border-style: solid;
}
.toggle.active{
    background-color: black;
}
.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

.video-carousal-banner{
    width:100%;
    height:30%;
}

.img-fluid{
    width:100%;
    height:auto;
}

.video-slider-logo-image{
    position:absolute;
    margin-top:25%;
    width:30%;
    margin-left: 2%;
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}

