<html>
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <title></title>
    </head>
    <body>
        <div class="footer" id="footer">
            <div class="grid-item" id="g1">Company</div>
            <div class="grid-item" id="g1">Need Help?</div>
            <div class="grid-item" id="g1">Reach Us</div>
            <div class="grid-item" id="g2">About Us</div>
            <div class="grid-item" id="g2">View help centre</div>
            <div class="grid-item" id="g3"><i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="grid-item" id="g2">Career</div>
            <div class="grid-item" id="g2">Share your feedback</div>
        </div>
    </body>
    
</html>

