<!-- index.html -->
{% include 'user/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyProduce</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script
      src="https://kit.fontawesome.com/20f31187f2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="outer-container">

      <div class="video-carousal-banner">
        {% include 'user/video_slider.html' %} 
      </div>
      
      <div class="content-container">
        {% if recommendations %}
          <!-- Personalized Recommended Movies -->
          <div class="movie-list-container">
            <h1 class="movie-list-title">RECOMMENDED MOVIES</h1>
            <div class="movie-list-wrapper">
              <div class="movie-list">
                {% for movie in recommendations %}
                  <a
                    href="/user/movie_player/?id={{ movie.id }}&title={{ movie.title }}&cast={{ movie.cast }}&movie_path={{ movie.movie_path }}&poster_url={{ movie.poster_url }}&overview={{ movie.overview}}"
                  >
                    <div class="movie-list-item">
                      <img
                        class="movie-list-item-img"
                        src="{{ movie.poster_url }}"
                        alt=""
                      />
                      <span class="movie-list-item-title">{{ movie.title }}</span>
                      <p class="movie-list-item-desc">
                        {{ movie.overview|slice:":100"}}...
                      </p>
                      <button class="movie-list-item-button">Watch</button>
                    </div>
                  </a>

                {% endfor %}
            </div>
            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>
        {% endif %}

        <!-- New Release Container -->
        <div class="movie-list-container">
          <h1 class="movie-list-title">ACTION MOVIES</h1>
          <div class="movie-list-wrapper">
            <div class="movie-list">
              {% for movie in movies_by_genre.action %}
              <a
                href="/user/movie_player/?id={{ movie.id }}&title={{ movie.title }}&cast={{ movie.cast }}&movie_path={{ movie.movie_path }}&poster_url={{ movie.poster_url }}&overview={{ movie.overview}}"
              >
                <div class="movie-list-item">
                  <img
                    class="movie-list-item-img"
                    src="{{ movie.poster_url }}"
                    alt=""
                  />
                  <span class="movie-list-item-title">{{ movie.title }}</span>
                  <p class="movie-list-item-desc">
                    {{ movie.overview|slice:":100"}}...
                  </p>
                  <button class="movie-list-item-button">Watch</button>
                </div>
              </a>

              {% endfor %}
            </div>
            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>

        <!-- New Release Container -->
        <div class="movie-list-container">
          <h1 class="movie-list-title">COMEDY MOVIES</h1>
          <div class="movie-list-wrapper">
            <div class="movie-list">
              {% for movie in movies_by_genre.comedy %}
              <a
                href="/user/movie_player/?id={{ movie.id }}&title={{ movie.title }}&cast={{ movie.cast }}&movie_path={{ movie.movie_path }}&poster_url={{ movie.poster_url }}&overview={{ movie.overview}}"
              >
                <div class="movie-list-item">
                  <img
                    class="movie-list-item-img"
                    src="{{ movie.poster_url }}"
                    alt=""
                  />
                  <span class="movie-list-item-title">{{ movie.title }}</span>
                  <p class="movie-list-item-desc">
                    {{ movie.overview|slice:":100"}}...
                  </p>
                  <button class="movie-list-item-button">Watch</button>
                </div>
              </a>
              {% endfor %}
            </div>
            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>
        <a href="/user/movie_player/?id=10&title=Interstellar&movie_path=https://firebasestorage.googleapis.com/v0/b/movieflix-fb7c4.appspot.com/o/interstellar.mp4?alt=media&poster_url=https://firebasestorage.googleapis.com/v0/b/movieflix-fb7c4.appspot.com/o/interstellar.jpg?alt=media&overview=In Earth's future, a global crop blight and second Dust Bowl are slowly rendering the planet uninhabitable. Professor Brand (Michael Caine), a brilliant NASA physicist, is working on plans to save mankind by transporting Earth's population to a new home via a wormhole. But first, Brand must send former NASA pilot Cooper (Matthew McConaughey) and a team of researchers through the wormhole and across the galaxy to find out which of three planets could be mankind's new home">
        <div
          class="featured-content"
          style="
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
              url('{% static 'image/feature_img11.jpg' %}');
          "
        >
          >
          <img
            class="featured-title"
            src="{% static 'image/feature_title6.png' %}"
            alt=""
          />
          <p class="featured-desc">
            When Earth becomes uninhabitable in the future, a farmer and ex-NASA
            pilot, Joseph Cooper, is tasked to pilot a spacecraft, along with a
            team of researchers, to find a new planet for humans.
          </p>
          <button class="featured-button">WATCH NOW</button>
        </div>

        </a>

        <!-- New Release container -->
        <div class="movie-list-container">
          <h1 class="movie-list-title">ROMANCE MOVIES</h1>
          <div class="movie-list-wrapper">
            <div class="movie-list">
              {% for movie in movies_by_genre.romance %}
              <a
                href="/user/movie_player/?id={{ movie.id }}&title={{ movie.title }}&cast={{ movie.cast }}&movie_path={{ movie.movie_path }}&poster_url={{ movie.poster_url }}&overview={{ movie.overview}}"
              >
                <div class="movie-list-item">
                  <img
                    class="movie-list-item-img"
                    src="{{ movie.poster_url }}"
                    alt=""
                  />
                  <span class="movie-list-item-title">{{ movie.title }}</span>
                  <p class="movie-list-item-desc">
                    {{ movie.overview|slice:":100"}}...
                  </p>
                  <button class="movie-list-item-button">Watch</button>
                </div>
              </a>
              {% endfor %}
            </div>

            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>

        <!-- New Release container -->
        <div class="movie-list-container">
          <h1 class="movie-list-title">ANIMATION MOVIES</h1>
          <div class="movie-list-wrapper">
            <div class="movie-list">
              {% for movie in movies_by_genre.animation %}
              <a
                href="/user/movie_player/?id={{ movie.id }}&title={{ movie.title }}&cast={{ movie.cast }}&movie_path={{ movie.movie_path }}&poster_url={{ movie.poster_url }}&overview={{ movie.overview}}"
              >
                <div class="movie-list-item">
                  <img
                    class="movie-list-item-img"
                    src="{{ movie.poster_url }}"
                    alt=""
                  />
                  <span class="movie-list-item-title">{{ movie.title }}</span>
                  <p class="movie-list-item-desc">
                    {{ movie.overview|slice:":100"}}...
                  </p>
                  <button class="movie-list-item-button">Watch</button>
                </div>
              </a>
              {% endfor %}
            </div>

            <i class="fas fa-chevron-right arrow"></i>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'script/app.js' %}"></script>
  </body>
</html>

{% include 'user/footer.html' %}
