<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyProduce</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'image/title_img.png' %}">
    <script
      src="https://kit.fontawesome.com/20f31187f2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-container">
        <!-- <a href="/user/landing"><div class="logo-container"><h1 class="logo">EasyProduce</h1></div></a> -->
        
        <a href="/user/landing"><div class="logo-container"><img src="{% static 'image/title_img.png' %}" width="150" height="78" alt="EasyProduce"/></div></a>


        <div class="menu-container">
          <ul class="menu-list">
            <li class="menu-list-item active">Home</li>
            <li class="menu-list-item">Action</li>
            <li class="menu-list-item">Comedy</li>
            <li class="menu-list-item">Romance</li>
            <li class="menu-list-item">Animation</li>
          </ul>
        </div>

        <div class="search-div">
          <!-- Search FORM -->
        <form action="/user/search/" method="GET" class="searchbar">
          {% csrf_token %}
          <input type="text" placeholder="search" name="searched_movie_title" id="searched_movie_title" required>

          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        </div>
        

        <div class="profile-container">

          <!-- <div>
            <img
            class="profile-picture"
            src="{% static 'image/profile_picture1.jpg' %}"
            alt=""
          />
          </div> -->
          

          <!-- Logout button -->
          <form action="/user/logout/" method="POST">
            {% csrf_token %}
            <input type="submit" class='btn btn-light' value="Logout" />
          </form>

          <!-- <div class="profile-text-container">
            <span class="profile-text">Profile</span>
            <i class="fas fa-caret-down"></i>
          </div>

          <div class="toggle">
            <i class="fa-solid fa-moon toggle-icon"></i>
            <i class="fa-solid fa-sun toggle-icon"></i>
            <div class="toggle-ball"></div>
          </div> -->
        </div>

       



      </div>
    </div>
  </body>
</html>
